.ui-container {
  margin: 0 auto;
  padding: 0 var(--space-md);

  &--sm {
    max-width: 540px;
  }
  &--md {
    max-width: 720px;
  }
  &--lg {
    max-width: 960px;
  }
  &--xl {
    max-width: 1140px;
  }
}
