@use 'bootstrap/dist/css/bootstrap';

@use './variables';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}
