.ui-typography {
  margin-bottom: var(--space-sm);
  color: var(--color-text);

  &--h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  &--h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &--h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  &--p {
    font-size: var(--font-size-base);
  }
  &--small {
    font-size: var(--font-size-sm);
    color: var(--color-muted);
  }
}
